@use '../abstracts' as *;

.container {
  // 100% - $container-padding * 2, $container-max-width
  width: min(100% - 2rem, 35.8125rem);
  margin-inline: auto;

  @include mq('large') {
    width: min(100% - 2rem, 45.625rem);
  }
}
