@use '../abstracts' as *;

.site-header {
  padding-block-start: 1.875rem;
  padding-block-end: 2.1875rem;

  @include mq('medium') {
    padding-block-start: 8.75rem;
  }

  @include mq('large') {
    padding-block-start: 9rem;
  }

  &__layout {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
}
