@use '../abstracts' as *;

body {
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  min-height: 100vh;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}
